.rules-text {
	margin: 0 auto;
	color: #000000;
	background: #c0c0c0;
	font-weight: 200;
	font-size: 20px;
	text-align: justify;
	width: 800px;
	padding: 5px;
	border-radius: 15px;
}
h2 {
	text-align: center;
}
