.game-map {
    background-color: #a0a0a0;
    margin: 5px auto;
}
td {
    width: 50px;
    height: 50px;
    font-size: 22px;
    text-align: center;
}
.cell {
    width: 60px;
    padding: 2px;
    cursor: pointer;
    border-radius: 5px;
}
.cl-1 {
    background-color: #d2d436;
}
.cl-2 {
    background-color: rgb(115, 218, 47);
}
.cl-3 {
    background-color: rgb(161, 116, 47);
}
.cl-4 {
    background-color: rgb(223, 70, 9);
}
.cl-5 {
    background-color: rgb(211, 43, 226);
}
.cl-6 {
    background-color: rgb(138, 43, 226);
}
.cl-7 {
    background-color: rgb(43, 220, 226);
}
.cl-8 {
    background-color: #d2d436;
}
.cl-9 {
    background-color: rgb(115, 218, 47);
}
.cl-10 {
    background-color: rgb(161, 116, 47);
}
.cl-11 {
    background-color: rgb(223, 70, 9);
}
.cl-12 {
    background-color: rgb(211, 43, 226);
}
.cl-13 {
    background-color: rgb(138, 43, 226);
}