.buttons {
	margin: 0 auto;
	width: 480px;
	height: 80px;
	align-items: center;
	justify-content: center;
	display: flex;
}

.button {
	color: #ffffff;
	width: 120px; 
	font-size: 24px;
	margin: 2px ;
	text-decoration: none; 
	text-align: center;
	user-select: none;  
	background: rgb(212,75,56); 
	padding: 0.5em 1.0em; 
/*	outline: 2px solid #808080; */
	border-radius: 10px;
	cursor: pointer;
}
.button:hover  { background: rgb(232,95,76); } 
.button:active { background: rgb(152,15,0); } 

.score {
	height: 2em;
	width: 420px;
	font-size: 36px;
	margin: 0 auto;
	line-height: 2em;
	background: #2ac0ac;
	color: #fff;
	text-align: center;
	user-select: none;
	border-radius: 15px;
}
.game-over {
	background: #008000;
	color: #800000;
}